# Variables

In [1]:
a = 1
b = '1'
c = "1"
d = 1.0

In [2]:
print(a)
print(b)
print(c)
print(d)

1
1
1
1.0

In [3]:
print("Types : ")
print(type(a))
print(type(b))
print(type(c))
print(type(d))

Types :
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [4]:
print(id(a))

140340740811056

In [4]:
x = 'Python'
X = 'OneShot'

In [5]:
print(x)
print(X)

Python
OneShot

In [6]:
python = 1
py_thon = 1
_python = 1
Python = 1
PYTHON = 1
python1 = 1

In [7]:
if = 1

SyntaxError: invalid syntax (535306765.py, line 1)

In [10]:
1python = 1

SyntaxError: invalid syntax (2593788612.py, line 1)

In [11]:
py$thon =1

SyntaxError: invalid syntax (1257671524.py, line 1)

In [ ]:
py@thon = 1

SyntaxError: cannot assign to operator (708158509.py, line 1)

In [13]:
Variable1,Variable2,Variable3  = '1','2','3'

In [14]:
Variable1=Variable2=Variable3 = 5

# Comments

In [62]:
#This is an example of single line comment

In [64]:
'''This is an example 
of multiline comment'''
print('comments')

comments

# Datatype

In [15]:
d1 = 5
d2 = 'shridhar'
d3 = 5.0
d4 = True
d5 = 5j
d6 = [1,2,3]
d7 = {1,2,3}
d8 = (1,2,3)
d9 = {'naam' : 'shridhar', 'kaam' : 'Students ki help karna'}
d10 = None

In [16]:
print(type(d1))
print(type(d2))
print(type(d3))
print(type(d4))
print(type(d5))
print(type(d6))
print(type(d7))
print(type(d8))
print(type(d9))
print(type(d10))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

# String

In [18]:
A = '''Hello and welcome dosto
to 5 minutes engineering,
aaj ka video bada kamal ka hone wala hai'''
print(A)

Hello and welcome dosto
to 5 minutes engineering,
aaj ka video bada kamal ka hone wala hai

In [19]:
B = """Hello and welcome dosto
to 5 minutes engineering,
aaj ka video bada kamal ka hone wala hai"""
print(B)

Hello and welcome dosto
to 5 minutes engineering,
aaj ka video bada kamal ka hone wala hai

In [20]:
C = 'shridhar'
print(C[0])
print(C[1])
print(C[2])
print(C[3])
print(C[4])
print(C[5])
print(C[6])
print(C[7])

s
h
r
i
d
h
a
r

In [21]:
print(len(A))

90

# Type Conversion

# Implicit

In [65]:
intt = 5
flt  = 5.0
add  = intt + flt
print(type(add))
add

<class 'float'>

10.0

In [66]:
intt = 5
strr = '5'
addd  = intt + strr
print(type(addd))
addd

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Explicit

In [67]:
intt = 5
strr = '5'
addd  = intt + int(strr)
print(type(addd))
addd

<class 'int'>

10

In [68]:
intt = 5
strr = '5'
addd  = str(intt) + strr
print(type(addd))
addd

<class 'str'>

'55'

# Operators

# Arithemetic Operators

In [23]:
x = 2
y = 5

In [25]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)

7
-3
10
0.4
2
32

# Comparison Operators

In [26]:
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

# Assignment Operators

In [28]:
k = 10
print(k)
k += 10
print(k)
k -= 10
print(k)
k *= 10
print(k)
k /= 10
print(k)
k **= 10
print(k)

10
20
10
100
10.0
10000000000.0

# Logical Operators

In [29]:
m = 1
n = 2
print(m<2 and n>1) 
print(m>2 and n>1)
print(m<2 and n<1)
print(m>2 and n<1)

True
False
False
False

In [30]:
print(m<2 or n>1) 
print(m>2 or n>1)
print(m<2 or n<1)
print(m>2 or n<1)

True
True
True
False

In [31]:
print(not(m<2 or n>1)) 
print(not(m>2 or n>1))
print(not(m<2 or n<1))
print(not(m>2 or n<1))

False
False
False
True

# Bitwise Operators

In [32]:
u = 2  (0010)
v = 1  (0001)

In [33]:
print(u & v)

0

In [34]:
print(u | v)

3

In [35]:
print(u ^ v)

3

In [36]:
print(u >> 2)

0

In [37]:
print(u << 2)

8

# Input and Output

In [1]:
num = input('Enter a number -> ')
print('You Entered ->', num)

Enter a number -> 5
You Entered -> 5

In [2]:
num = input('Enter a number -> ')
print('You Entered ->', type(num))

Enter a number -> 5
You Entered -> <class 'str'>

In [3]:
num = input('Enter a number -> ')
print('You Entered ->', type(num))

Enter a number -> 10
You Entered -> <class 'str'>

In [4]:
num = int(input('Enter a number -> '))
print('You Entered ->', type(num))

Enter a number -> 5
You Entered -> <class 'int'>

In [73]:
print('Shridhar', end= ' ')
print('Mankar')

Shridhar Mankar

In [74]:
print('Shridhar', 5, 'Mankar', sep= '.')

Shridhar.5.Mankar

In [76]:
print('Shridhar ' + 'Mankar')

Shridhar Mankar

In [7]:
num1 = 5
num2 = 10

print('The value of num1 is {} and num2 is {}'.format(num1,num2))

The value of num1 is 5 and num2 is 10

# If...Else

In [1]:
var1 = 10
var2 = 20

In [2]:
if var1 != var2 :
 print('not equal')

not equal

In [5]:
if var1 != var2 :
print('not equal')

IndentationError: expected an indented block (2402990852.py, line 2)

In [6]:
if var1 == var2 :
 print('not equal')

In [42]:
if var1 < var2 and var1>5 :
 print('if block')

if block

In [43]:
if var1 < var2 or var1<5 :
 print('if block')

if block

In [44]:
if not var1 == var2 :
 print('not equal')

not equal

In [46]:
if not var1 == var2 : print('not equal')

not equal

In [47]:
if var1 != var2 :
 print('if')
elif var1 == 10 :
 print('elif')

if

In [48]:
if var1 == var2 :
 print('if')
elif var1 == 10 :
 print('elif')

elif

In [50]:
if var1 == var2 :
 print('if')
elif var1 == 5 :
 print('elif')
else:
 print('else')

else

In [51]:
if var1 != var2 :
 print('outer if')
 if var1 == 10 :
  print('inner if')

outer if
inner if

# Loops

# For Loop

In [52]:
abc = (1,2,3,4,5,6,7,8,9,10)

In [53]:
for i in abc :
 print(i)

1
2
3
4
5
6
7
8
9
10

In [56]:
for i in abc :
print(i)

IndentationError: expected an indented block (3880932178.py, line 2)

In [57]:
for i in abc :
                        print(i)

1
2
3
4
5
6
7
8
9
10

In [58]:
for i in abc :
 if i == 5 :
    break
 print(i)

1
2
3
4

In [59]:
for i in abc :
 if i == 5 :
    continue
 print(i)

1
2
3
4
6
7
8
9
10

In [60]:
for i in 'shridhar': 
 print(i)

s
h
r
i
d
h
a
r

In [61]:
for i in range(10): 
 print(i)

0
1
2
3
4
5
6
7
8
9

In [62]:
for i in range(5,10): 
 print(i)

5
6
7
8
9

In [63]:
for i in range(1,10,2): 
 print(i)

1
3
5
7
9

In [64]:
for i in 'shridhar': 
 print(i)
 for j in 'mankar':
    print(j)

s
m
a
n
k
a
r
h
m
a
n
k
a
r
r
m
a
n
k
a
r
i
m
a
n
k
a
r
d
m
a
n
k
a
r
h
m
a
n
k
a
r
a
m
a
n
k
a
r
r
m
a
n
k
a
r

# While Loop

In [68]:
xyz = 1
while xyz < 10:
  print(xyz)
  xyz += 1

1
2
3
4
5
6
7
8
9

In [69]:
xyz = 1
while xyz < 10:
  print(xyz)
  xyz += 2

1
3
5
7
9

In [70]:
xyz = 1
while xyz < 10:
 if xyz==5:
  break
 xyz += 1
 print(xyz)

2
3
4
5

In [72]:
xyz = 1
while xyz < 10:
  xyz += 1
  if xyz == 5:
    continue
  print(xyz)

2
3
4
6
7
8
9
10

In [73]:
x = 1
while x < 5 :
    y = 1
    while  y < 5 :
        print('x->',x,'y->',y,'x + y ->',x+y)
        y += 1
    print("\n")
    x += 1

x-> 1 y-> 1 x + y -> 2
x-> 1 y-> 2 x + y -> 3
x-> 1 y-> 3 x + y -> 4
x-> 1 y-> 4 x + y -> 5


x-> 2 y-> 1 x + y -> 3
x-> 2 y-> 2 x + y -> 4
x-> 2 y-> 3 x + y -> 5
x-> 2 y-> 4 x + y -> 6


x-> 3 y-> 1 x + y -> 4
x-> 3 y-> 2 x + y -> 5
x-> 3 y-> 3 x + y -> 6
x-> 3 y-> 4 x + y -> 7


x-> 4 y-> 1 x + y -> 5
x-> 4 y-> 2 x + y -> 6
x-> 4 y-> 3 x + y -> 7
x-> 4 y-> 4 x + y -> 8

# List

In [7]:
l1 = [1,2,3,4,5]
l2 = ['one','two','three']
l3 = [True, False]
l4 = [1.1,2.2,3.3,4.4,5.5]

In [75]:
print(type(l1))
print(type(l2))
print(type(l3))
print(type(l4))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [76]:
print(l1[0])
print(l1[1])
print(l1[2])
print(l1[3])
print(l1[4])

1
2
3
4
5

In [77]:
print(l2[0])
print(l2[1])
print(l2[2])
print(l3[0])
print(l3[1])

one
two
three
True
False

In [78]:
print(l3[2])

IndexError: list index out of range

In [79]:
print(l1[-1])
print(l1[-2])
print(l1[-3])
print(l1[-4])
print(l1[-5])

5
4
3
2
1

In [81]:
l1[4] = 6

In [82]:
l1

[1, 2, 3, 4, 6]

In [87]:
l1.append(7)
l1

[1, 2, 3, 4, 6, 7]

In [89]:
l1.insert(4,5)
l1

[1, 2, 3, 4, 5, 6, 7]

In [90]:
l2.extend(l1)

In [91]:
l2

['one', 'two', 'three', 1, 2, 3, 4, 5, 6, 7]

In [92]:
l1.remove(7)
l1

[1, 2, 3, 4, 5, 6]

In [93]:
l1.pop()
l1

[1, 2, 3, 4, 5]

In [94]:
l1.pop(2)
l1

[1, 2, 4, 5]

In [95]:
l1.sort(reverse=True)
l1

[5, 4, 2, 1]

In [96]:
l5 = l1.copy()
l5

[5, 4, 2, 1]

In [98]:
l1.clear()
l1

[]

In [99]:
l1.append(5)
l1.append(5)
l1.append(5)
l1.append(5)
l1.append(5)
l1.append(5)
l1

[5, 5, 5, 5, 5, 5]

In [8]:
del l1

In [9]:
l1

NameError: name 'l1' is not defined

# Tuple

In [10]:
t1 = (1,2,3,4,5)
t2 = ('one','two','three')
t3 = (True, False)
t4 = (1.1,2.2,3.3,4.4,5.5)

In [11]:
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [12]:
print(t1[0])
print(t1[1])
print(t1[2])
print(t1[3])
print(t1[4])

1
2
3
4
5

In [13]:
print(t1[-1])
print(t1[-2])
print(t1[-3])
print(t1[-4])
print(t1[-5])

5
4
3
2
1

In [19]:
t5 = (1,1,1,1,1,1,1,1,1,1)
t5

(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)

In [15]:
t6 = ("abc",)
print(type(t6))
t6

<class 'tuple'>

('abc',)

In [17]:
t1[2] = 7
t1

TypeError: 'tuple' object does not support item assignment

In [18]:
t1.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
tuplelist = list(t1)
tuplelist.append(6)
t1 = tuple(tuplelist)
t1

(1, 2, 3, 4, 5, 6)

In [8]:
tuplelist = list(t1)
tuplelist.remove(6)
t1 = tuple(tuplelist)
t1

(1, 2, 3, 4, 5)

In [20]:
t5.count(1)

10

In [10]:
t1.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [21]:
tuplelist = list(t1)
tuplelist.clear()
t1 = tuple(tuplelist)
t1

()

In [11]:
del t1

In [12]:
t1

NameError: name 't1' is not defined

# Set

In [13]:
s1 = {1,2,3,4,5}
s2 = {'one','two','three'}
s3 = {True, False}
s4 = {1.1,2.2,3.3,4.4,5.5}

In [14]:
print(type(s1))
print(type(s2))
print(type(s3))
print(type(s4))

<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

In [15]:
print(s1[0])

TypeError: 'set' object is not subscriptable

In [17]:
s2

{'one', 'three', 'two'}

In [18]:
sett = {1,1,2,2,3,3,4,4,5,5}
sett

{1, 2, 3, 4, 5}

In [20]:
print(5 in s1)
print(15 in s1)

True
False

In [21]:
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

In [22]:
s2.add('four')

In [23]:
s2

{'four', 'one', 'three', 'two'}

In [24]:
s2.add('five')
s2

{'five', 'four', 'one', 'three', 'two'}

In [25]:
s2.add('six')
s2

{'five', 'four', 'one', 'six', 'three', 'two'}

In [26]:
s2.remove('six')
s2

{'five', 'four', 'one', 'three', 'two'}

In [27]:
s2.remove('six')

KeyError: 'six'

In [28]:
s2.discard('six')

In [29]:
s2.pop()

'five'

In [30]:
s5 = s1.union(s3)
s5

{False, 1, 2, 3, 4, 5, 6}

In [31]:
s6 = s3.union(s1)
s6

{False, True, 2, 3, 4, 5, 6}

In [32]:
s6.update(s4)

In [33]:
s6

{False, True, 1.1, 2, 2.2, 3, 3.3, 4, 4.4, 5, 5.5, 6}

In [34]:
s6.difference(s4)

{False, True, 2, 3, 4, 5, 6}

In [35]:
s6.intersection(s4)

{1.1, 2.2, 3.3, 4.4, 5.5}

In [37]:
s6.clear()
s6

set()

In [38]:
del s6
s6

NameError: name 's6' is not defined

# Dictionary

In [1]:
d1 = {
  "name"  : "Shridhar",
  "rollno": 25
}

In [2]:
d1

{'name': 'Shridhar', 'rollno': 25}

In [3]:
d2 = dict(_id = 1, name = 'xyz', price = 99)
d2

{'_id': 1, 'name': 'xyz', 'price': 99}

In [4]:
d3 = {
    "name" : 'xyz',
    "name" : 'abc'
}

In [5]:
d3

{'name': 'abc'}

In [6]:
d1['name']

'Shridhar'

In [63]:
d4 = {
    '_id'     : 1,
    "name"    : 'shridhar',
    'M1'      : [10,20,30,40],
    'M2'      : (10,20,30,40),
    'M3'      : {10,20,30,40}
}

In [64]:
d4

{'_id': 1,
 'name': 'shridhar',
 'M1': [10, 20, 30, 40],
 'M2': (10, 20, 30, 40),
 'M3': {10, 20, 30, 40}}

In [65]:
d4.keys()

dict_keys(['_id', 'name', 'M1', 'M2', 'M3'])

In [66]:
d4.values()

dict_values([1, 'shridhar', [10, 20, 30, 40], (10, 20, 30, 40), {40, 10, 20, 30}])

In [67]:
d4.items()

dict_items([('_id', 1), ('name', 'shridhar'), ('M1', [10, 20, 30, 40]), ('M2', (10, 20, 30, 40)), ('M3', {40, 10, 20, 30})])

In [68]:
d4['M4'] = True

In [69]:
d4

{'_id': 1,
 'name': 'shridhar',
 'M1': [10, 20, 30, 40],
 'M2': (10, 20, 30, 40),
 'M3': {10, 20, 30, 40},
 'M4': True}

In [70]:
d4['M4'] = False
d4

{'_id': 1,
 'name': 'shridhar',
 'M1': [10, 20, 30, 40],
 'M2': (10, 20, 30, 40),
 'M3': {10, 20, 30, 40},
 'M4': False}

In [71]:
d4.update({'M4' : True})
d4

{'_id': 1,
 'name': 'shridhar',
 'M1': [10, 20, 30, 40],
 'M2': (10, 20, 30, 40),
 'M3': {10, 20, 30, 40},
 'M4': True}

In [72]:
d5 = d4.copy()
d5

{'_id': 1,
 'name': 'shridhar',
 'M1': [10, 20, 30, 40],
 'M2': (10, 20, 30, 40),
 'M3': {10, 20, 30, 40},
 'M4': True}

In [73]:
d4.pop('M4')

True

In [74]:
d4

{'_id': 1,
 'name': 'shridhar',
 'M1': [10, 20, 30, 40],
 'M2': (10, 20, 30, 40),
 'M3': {10, 20, 30, 40}}

In [77]:
d4.popitem()

('M2', (10, 20, 30, 40))

In [78]:
del d4['M1']
d4

{'_id': 1, 'name': 'shridhar'}

In [57]:
d4.clear()

In [58]:
d4

{}

In [59]:
del d4
d4

NameError: name 'd4' is not defined

# Function

In [78]:
def function1():
  print("Hello and Welcome Dosto")

In [79]:
function1()

Hello and Welcome Dosto

In [80]:
def function2(plus):
  print("Hello and Welcome Dosto",plus)

function2('to 5ME')

Hello and Welcome Dosto to 5ME

In [82]:
def function2(plus):
  print("Hello and Welcome Dosto " + plus)

function2('to 5ME')

Hello and Welcome Dosto to 5ME

In [82]:
def name(fname,lname):
  print(fname + " " + lname)

name('shridhar','mankar')

shridhar mankar

In [83]:
name('mankar','shridhar')

mankar shridhar

In [84]:
def name1(lname,fname):
  print(fname + " " + lname)

name1(fname = 'shridhar',lname = 'mankar')

shridhar mankar

In [79]:
def function2(*p):
  print("Hello and Welcome Dosto", p[0],p[1],p[2] )

function2('to 5 minutes engineering','and','to the video')

Hello and Welcome Dosto to 5 minutes engineering and to the video

In [86]:
def name3(**students):
  print(students['s1'],students['s2'],students['s3'])

name3(s1 = 'shridhar',s2 = 'rajendra',s3 = 'parth')

shridhar rajendra parth

In [81]:
def function2(p = 'to 5 minutes engineering'):
  print("Hello and Welcome Dosto",p)

function2('to the video')
function2()

Hello and Welcome Dosto to the video
Hello and Welcome Dosto to 5 minutes engineering

In [88]:
def sum_fun(a,b):
  c = a+b
  return c

sum_fun(1,2)

3

In [89]:
print(c)

NameError: name 'c' is not defined

In [95]:
c = 5
def sub_fun(a,b):
  c = a-b
  return c

sub_fun(5,2)

3

In [96]:
print(c)

5

In [97]:
c = 5
def fun():
  c = c + 1
  return c

fun()

UnboundLocalError: local variable 'c' referenced before assignment

In [98]:
c = 5
def fun():
  global c
  c = c + 1
  return c

fun()

6

# Recursion

In [99]:
def normal_fun(x):
 while x >= 0:
  print(x)
  x-=1

In [100]:
normal_fun(10)

10
9
8
7
6
5
4
3
2
1
0

In [1]:
def recu_fun(a):
 print(a)
 if (a > 0):
  recu_fun(a-1)

In [2]:
recu_fun(10)

10
9
8
7
6
5
4
3
2
1
0

In [103]:
from sys import getrecursionlimit
getrecursionlimit()

3000

In [104]:
def recursion():
    x = 10
    recursion()

In [105]:
recursion()

RecursionError: maximum recursion depth exceeded

In [6]:
def factorial(n):
 if(n == 1):
   return 1
 else:
   print(n)
   return n * factorial(n-1)

In [7]:
factorial(3)

3
2

6

In [108]:
def factt(n):
 if(n == 1):
   print(n)
   return 1
 else:
   print (n,'*', end=' ')
   return n * factt(n-1)

In [109]:
factt(5)

5 * 4 * 3 * 2 * 1

120

In [110]:
# --->> 0,1,1,2,3,5,8  (fibonacci numbers)
# --->> 0,1,2,3,4,5,6  (index)

In [111]:
def fib(n):
   if n==0 or n==1:
      return n
   return fib(n-1) + fib(n-2)

In [113]:
#f(3) = f(2) + f(1)
#     = f(1) + f(0) + 1
#     = 1 + 0 + 1
#     =  2

In [114]:
fib(3)

2

# Files

In [2]:
import csv

with open('jobpost.csv', 'r') as file:
    reader = csv.reader(file)

    for i in reader:
        print(i)

['s1', 's2', 's3', 'post']
['12', '17', '9', '0']
['8', '11', '11', '2']
['20', '6', '8', '2']
['20', '17', '11', '2']
['7', '15', '9', '0']
['13', '11', '18', '1']
['5', '7', '18', '1']
['6', '16', '9', '2']
['9', '19', '17', '0']
['8', '8', '6', '1']
['20', '6', '8', '2']
['18', '17', '13', '2']
['7', '11', '14', '2']
['15', '11', '14', '1']
['8', '20', '10', '0']
['15', '9', '5', '2']
['9', '7', '12', '0']
['11', '18', '13', '0']
['20', '20', '10', '0']
['19', '19', '5', '2']
['20', '7', '18', '0']
['9', '8', '19', '2']
['19', '6', '7', '2']
['7', '10', '12', '2']
['6', '14', '8', '2']
['5', '16', '7', '0']
['17', '10', '19', '2']
['19', '16', '9', '1']
['17', '11', '9', '0']
['5', '17', '18', '2']
['7', '9', '17', '1']
['11', '9', '5', '2']
['11', '20', '15', '1']
['10', '17', '17', '0']
['8', '8', '6', '2']
['6', '15', '20', '0']
['18', '12', '7', '0']
['7', '11', '8', '0']
['9', '9', '17', '0']
['14', '5', '6', '2']
['13', '9', '11', '1']
['18', '5', '14', '0']
['11', '12', '9', '0']
['12', '14', '10', '2']
['5', '14', '13', '2']
['14', '7', '13', '1']
['20', '7', '17', '0']
['17', '10', '8', '1']
['20', '7', '14', '1']
['13', '9', '9', '0']
['9', '6', '13', '2']
['18', '7', '16', '0']
['17', '7', '11', '2']
['11', '7', '9', '1']
['11', '20', '11', '2']
['12', '11', '14', '2']
['18', '8', '6', '1']
['17', '17', '12', '0']
['5', '15', '11', '2']
['5', '19', '16', '1']
['9', '14', '7', '2']
['7', '19', '17', '1']
['10', '17', '15', '2']
['15', '5', '6', '1']
['17', '5', '13', '0']
['6', '14', '19', '0']
['12', '14', '20', '1']
['16', '11', '17', '1']
['9', '7', '20', '0']
['8', '13', '8', '2']
['11', '14', '5', '0']
['17', '15', '5', '2']
['13', '17', '10', '0']
['15', '8', '18', '2']
['14', '16', '20', '0']
['5', '15', '18', '2']
['16', '12', '20', '1']
['16', '11', '7', '2']
['20', '17', '20', '2']
['9', '19', '6', '1']
['20', '17', '20', '2']
['8', '18', '10', '0']
['11', '7', '14', '0']
['7', '6', '7', '2']
['8', '19', '9', '0']
['20', '19', '11', '1']
['11', '15', '19', '1']
['13', '9', '18', '0']
['10', '14', '10', '2']
['11', '18', '18', '0']
['17', '11', '7', '1']
['17', '14', '20', '1']
['20', '14', '10', '2']
['8', '5', '15', '2']
['9', '12', '20', '2']
['7', '11', '5', '0']
['7', '11', '9', '2']
['10', '18', '12', '0']
['12', '13', '7', '1']

In [3]:
with open('jobpost.csv', 'w') as file:
    writer = csv.writer(file)
    writer.writerow([1, 2, 3])
    writer.writerow([10, 20, 30])

In [4]:
with open('jobpost.csv', 'r') as file:
    reader = csv.reader(file)

    for i in reader:
        print(i)

['1', '2', '3']
['10', '20', '30']

In [5]:
with open('jobpost.csv', 'a') as file:
    writer = csv.writer(file)
    writer.writerow([1000, 2000, 3000])
    writer.writerow([10000, 20000, 30000])

In [6]:
with open('jobpost.csv', 'r') as file:
    reader = csv.reader(file)

    for i in reader:
        print(i)

['1', '2', '3']
['10', '20', '30']
['1000', '2000', '3000']
['10000', '20000', '30000']

In [7]:
file1 = open("file1.txt", "x")
file1.write("Hello andd welcome dosto to 5 minutes engineering")
file1.close()

In [8]:
f1 = open("file1.txt", "x")

FileExistsError: [Errno 17] File exists: 'file1.txt'

In [9]:
file1 = open("file1.txt", "r")
print(file1.read())

Hello andd welcome dosto to 5 minutes engineering

In [10]:
file4 = open("file1.txt", "w")
file4.write("write mode overwrite example")
file4.close()

In [11]:
file1 = open("file1.txt", "r")
print(file1.read())

write mode overwrite example

In [12]:
file4 = open("file1.txt", "a")
file4.write("append mode overwrite example")
file4.close()

In [13]:
file1 = open("file1.txt", "r")
print(file1.read())

write mode overwrite exampleappend mode overwrite example

In [14]:
import os
os.remove("file1.txt")

# Exception Handling

In [15]:
try:
 listt = [1,2,3,4,5]
 print(listt[99])
except IndexError:
    print("Indexerror")

Indexerror

In [4]:
listt = [1,2,3,4,5]
print(listt[99])

IndexError: list index out of range

In [16]:
def func(x):
   print(a)
     
try:
    func(5)
except ZeroDivisionError:
    print("ZeroDivisionError")
except NameError:
    print("NameError")

NameError

In [5]:
try:
 listt = [1,2,3,4,5]
 print(listt[99])
except IndexError:
    print("Indexerror")
finally:
    print("Executing rest of the code")
    print("Executing rest of the code")
    print("Executing rest of the code")
    print("Executing rest of the code")
    print("Executing rest of the code")
    print("Executing rest of the code")

Indexerror
Executing rest of the code
Executing rest of the code
Executing rest of the code
Executing rest of the code
Executing rest of the code
Executing rest of the code

In [8]:
class CustomException(Exception):
    pass

threshold = 35

try:
    marks = int(input("Enter a number: "))
    if marks < threshold:
        raise CustomException
    else:
        print("Pass")
        
except CustomException:
    print("Fail")

Enter a number: 32
Fail

# Class & Object

In [22]:
class class1:
    d1 = "shridhar"
    d2 = 1

obj1 = class1()
print(obj1.d1)
print(obj1.d2)

shridhar
1

In [24]:
obj2 = class1()
print(obj2.d1)
obj2.d1 = "Rajendra"
print(obj2.d1)

shridhar
Rajendra

In [25]:
class class2:
    name = "shridhar"
    roll_no = 1

    def abc(self):
        print("name-->",self.name)

obj11 = class2()
obj11.abc()
obj11.name = "Rajendra"
obj11.abc()

name--> shridhar
name--> Rajendra

In [26]:
class class3:
    def __init__(self,name):
        self.name = name

    roll_no = 1

    def abc(self):
        print("name-->",self.name)

obj111 = class3("Manisha")
print(obj111.name)
obj111.abc()

Manisha
name--> Manisha

In [27]:
class Parent:
    name = ""
    
    def m1(self):
        print("Parent Class")

class Child(Parent):

    def m2(self):
        print("Parent name --> ", self.name)


c1 = Child()
c1.name = "Rajendra"
c1.m1()
c1.m2()

Parent Class
Parent name -->  Rajendra

In [33]:
class class4:
  x = 1 

  def __init__(self): 
    self.x = 5
    print(self.x)
 
obj = class4()
print(obj.x)

5
5

In [34]:
class Parent1:
    x = 1

class Child1(Parent1):
    def __init__(self):
        print(self.x)

objj = Child1()
print(objj.x)

1
1

In [6]:
class A:
    def f1(self):
        print("Class A")

class B:
    def f2(self):
        print("Class B")

class C(A,B):
    def f3(self):
        print("Class C")

c = C()
c.f1()
c.f2()

Class A
Class B

In [7]:
class A:
    def f1(self):
        print("Class A")

class B(A):
    def f2(self):
        print("Class B")

class C(B):
    def f3(self):
        print("Class C")

c = C()
c.f1()
c.f2()
c.f3()

Class A
Class B
Class C

In [8]:
string = "Shri"+"dhar"
number = 2+3
print(string)
print(number)

Shridhar
5

In [9]:
print(len("Shridhar"))
print(len([5, "Minutes", "Engineering"]))

8
3

In [10]:
class A:
    def f1(self):
        print("Class A")

class B:
    def f1(self):
        print("Class B")

class C:
    def f1(self):
        print("Class C")

a = A()
a.f1()

b = B()
b.f1()

c = C()
c.f1()

Class A
Class B
Class C

# Lambda Function

In [12]:
fun = lambda : print("5 Minutes Engineering")

In [13]:
fun()

5 Minutes Engineering

In [15]:
fun1 = lambda x : print(x)
fun1("5 Minutes Engineering")

5 Minutes Engineering

In [27]:
fun2 = lambda x,y : x if x>y else y
fun2(5,2)

5

In [28]:
fun3 = lambda x,y,z : x+y+z
fun3(5,2,1)

8

# Iterators and Generators

In [1]:
listt = [1,2,3,4,5]
print(dir(listt))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [3]:
print(listt.__iter__())

<list_iterator object at 0x7fa8b8b4d160>

In [4]:
print(iter(listt))

<list_iterator object at 0x7fa8b8b4d130>

In [16]:
listt = [1,2,3,4,5]

ite = iter(listt)

print(next(ite)) 
print(next(ite))

1
2

In [17]:
for i in listt:
    print(i)

1
2
3
4
5

In [18]:
for i in ite:
    print(i)

3
4
5

In [19]:
class iterator:
    def __init__(self,val):
        self.val = val

    def __iter__(self):
        self.num = 1
        return self

    def __next__(self):
        if self.num <= self.val:
            final = self.num * 5
            self.num += 1
            return final
        else:
            raise StopIteration

obj = iterator(5)
itr = iter(obj)

print(next(itr))
print(next(itr)) 
print(next(itr))

5
10
15

In [30]:
def generator0():
    n=0
    
    n = n+5
    yield n
    n = n+5
    
    yield n
    n = n+5

    yield n
    n = n+5
    
    yield n

obj = generator0()
print(obj)
print("G0",next(obj))
print("G0",next(obj))
print("G0",next(obj))
print("G0",next(obj))

<generator object generator0 at 0x7fa8a8010ba0>
G0 5
G0 10
G0 15
G0 20

In [11]:
def generator1(n):
    x = 5
    while x < n:
        yield x
        x = x + 5

In [32]:
for i in generator1(100):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

# Closure

In [15]:
def abc(x):
    def xyz():
        print(x)

abc(5)

In [16]:
def abc(x):
    def xyz():
        print(x)
    xyz()

abc(5)

5

In [17]:
def abc(x):
    def xyz():
        print(x)
    return xyz

x = abc(5)
x()

5

In [25]:
def abc1(x):

    return lambda: x

num = abc1(5)
print(num())

5

In [26]:
def make_multiplier_of(n):
    def multiplier(x):
        return x * n
    return multiplier

In [27]:
times3 = make_multiplier_of(3)
times5 = make_multiplier_of(5)

print(times3(9))
print(times5(3))

27
15

# Decorators

In [22]:
def deco_func(func):
    
    def inner():
        func()
        print("Dosto")
    return inner

def original():
    print("Hello ji",end=" ")
    
decorated_func = deco_func(original)

decorated_func()

Hello ji Dosto

In [35]:
def deco_func(func):
    
    def inner():
        func()
        print("Dosto")
    return inner

@deco_func
def original():
    print("Hello ji",end=" ")

In [36]:
original()

Hello ji Dosto